.footer {
	background-color: #3b4952;
	padding: 20px 0px;
	color: #fff;
	&__body {
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;
		padding: 25px 0;
	}
	&__row {
		@include flexbox();
	}
	&__column {
		width: 33.333%;
	}
}
.footer-column {
	&__contacts {
		margin: 0 10px;
		padding: 30px 20px;
	}
	&__contact {}
	&__form {
		margin: 0 10px;
		padding: 30px 15px;
	}
	&__about-us {
		padding: 0 15px;
	}
}
.footer-contact {
	@include flexbox();
	&__icon {
		flex: 0 1 50px;
		height: 50px;
		width: 50px;
		min-width: 50px;
		//overflow: hidden;
		//display: inline-block;
		//position: relative;
		padding-top: 25px;
		text-align: center;
		img {
			height: 35px;
			width: 35px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 1.6em;
		margin: 10px;
		padding: 10px;
	}
}

.footer-form {
	@include flexbox();
	flex-direction: column;
	&__header {
		padding: 30px 30px 30px 50px;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.1em;
		color: #fff;
	}
	&__input {
		margin: 0 50px;
		.input {
			width: 100%;
		}
	}
	&__button {
		cursor: pointer;
		padding: 10px 20px;
	    border-width: 0;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    color: #fff;
	    font-size: 14px;
	    background-color: #5bbd72;
	    align-self: start;
	    margin: 0 50px;
	    &:hover{
		background-color: #52aa67;
		}
		&:active {
			background-color: #49975b;
		}
	}
	
}

.footer-about-us {
	&__text {
		font-size: 16px;
		margin: 10px;
		padding: 10px;
		line-height: 1.6em;
	}
	&__title {
		font-size: 24px;
		margin-bottom: 5px;
		color: #fff;
		font-weight: 300;
	}
	&__buttons {
		margin: 10px 20px;
	}
	&__button {
		display: inline-block;
		font-size: 16.8px;
		span {
			display: inline-block;
			padding: 18px 30px;
			color: #ecf0f1;
		}
		&:hover {
			span{
				background-color: #ecf0f1;
				color: #000;
			}
		}
		&:active {
			span {
				background-color: #d4d8d9;
			}
		}
	}
	
}

